.nopadding{
	padding-left: 0;
	padding-right: 0;
}

.nomargin{
	margin-left: 0;
	margin-right: 0;
}

.navbarwithcolor{
	width: 100%;
	height: 100%;
	background-color: #151b20;
}

.navbar-dark .navbar-nav .nav-link{
	color: white;
	font-weight: bold;
}

.glowingtext{
	text-shadow: 0px 0px 0px black, 0 0 5px #d20c0c;
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: #d20c0c;
}

.navbar-brand img{
	max-height: 64px;
	margin-left: 4vw;
}

#bgVideo {
	position: absolute;
	left:0;
	z-index: -1;
	width: 100%;
}

.twitchLogo{
	width: 16px;
	height: 16px;
	margin-right: 5px;
	padding-top: 2px;
}

/**** ammends  ****/
#header{
	position: relative;
	margin: auto;
}

.video-ting{
	min-height: calc(80vh);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (min-width: 1px) and (max-width: 576px){
	#header h1 {
		font-size: 20px !important;
		line-height: 20px !important;
	}
	#header h2 {
		font-size: 10px !important;
	}
	.video-ting{
		min-height: calc(30vh); 
	}
}

@media screen and (min-width: 577px) and (max-width: 768px){
	#header h1 {
		font-size: 40px !important;
		line-height: 40px !important;
	}
	#header h2 {
		font-size: 15px !important;
	}
	.video-ting{
		min-height: calc(40vh); 
	}

}
@media screen and (min-width: 769px) and (max-width: 992px) {
	#header h1{
		font-size: 60px !important;
		line-height: 60px !important;
	}
	#header h2 {
		font-size: 25px !important;
	}
	.video-ting{
		min-height: calc(50vh); 
	}

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	#header h1{
		font-size: 80px !important;
		line-height: 80px !important;
	}
	#header h2 {
		font-size: 40px !important;
	}
	.video-ting{
		min-height: calc(60vh); 
	}
}

.header-titre{
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase ;
	font-style: normal;
	font-size: 90px ;
	line-height: 90px ;
	text-shadow: 0 0 3px #d20c0c, 0 0 8px #d20c0c;
}

.header-soustitre{
	color: #d20c0c;
	text-transform: uppercase;
	font-weight: 400;
	font-style: normal;
	font-size: 36px;
	line-height: 25px;
}

@media screen and (min-width: 1px) and (max-width: 576px){
	#presentation img{
		max-width: none !important;
		width: 175px;
	}
	#presentation h1{
		font-size: 30px !important;
	}
	#presentation h2{
		font-size: 20px !important;		
	}
	#presentation{
		text-align: center;
	}
	#presentation a{
		margin-bottom: 1rem;
	}
}

@media screen and (min-width: 577px) and (max-width: 768px){
	#presentation img{
		max-width: none !important;
		width: 200px;
	}
	#presentation h1{
		font-size: 30px !important;
	}
	#presentation h2{
		font-size: 20px !important;		
	}
	#presentation{
		text-align: center;
	}
}
@media screen and (min-width: 769px) and (max-width: 992px) {
	#presentation img{
		max-width: none !important;
		width: 250px;
	}
	#presentation h1{
		font-size: 35px !important;
	}
	#presentation h2{
		font-size: 25px !important;	
	}
	#presentation{
		text-align: center;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	#presentation h1{
		font-size: 40px !important;
	}
	#presentation h2{
		font-size: 30px !important;
	}
}

#presentation{
	display: flex;
	background-color: white;
}

#presentation img {
	border-radius: 50%;
	max-width: 20vw;
}

#presentation h1{
	color: #d20c0c;
	text-transform: uppercase;
	font-weight: 900;
	font-style: normal;
	font-size: 50px;
}

#presentation h2{
	text-transform: uppercase;
	font-weight: 400;
	font-style: normal;
	font-size: 36px;
	
}

@media screen and (min-width: 1px) and (max-width: 576px){
	#stream h1{
		font-size: 45px !important;
	}
}


#stream{
	background-color: #0e0e10;
}

#stream h1{
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase ;
	font-style: normal;
	font-size: 60px ;
	line-height: 90px ;
	text-shadow: 0 0 3px #d20c0c, 0 0 8px #d20c0c;
}

#twitch-embed{
	height: 70vh;
	border: 3px solid red;
	border-radius: 2px;
	border-color: #d20c0c;
	box-shadow: 0 0 40px #d20c0c; 
}

#discord{
	background-color: grey;
}